/* Navbar */
*{
    /* font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif; */
    text-decoration: none;
    margin: 0;
    
}

body{

    max-width: 1920px;
    margin: auto;
}

h1{
    
}

p{
    font-family: 'Noto Sans JP', sans-serif  
}

.nav-screen{
    top: 0px;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.nav-wrapper{
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #03045E;
    
    height: 50px;
}

.nav-logo{
    padding-left: 1vw;
}

.nav-logo-img{
    margin-top: 5px;
    max-height:40px;
}

.nav-menu{
    
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 5px;
    
}

.nav-menu a{
    color: white;
    margin-right: 50px;
}

.nav-menu a:hover{
    color: wheat;
}

.nav-button{
padding-right: 2vw;
padding-top: 9px;

}

.nav-button button{
    background-color: #90E0EF;
    border: none;
    font-size: 1.5rem;
    padding-bottom: 20px;
    height: 2rem;
    width: 15vw;
    min-width: 164px;
    
}

.nav-button button a{
    
}

.nav-button button:hover{
    background-color: wheat;
}

.nav-mobile{
    display: none;
}

/* nav mobile */

@media only screen and (max-width: 784px){
.nav-screen{
    display: none;
}

.nav-mobile{
    display: flex;
}

.nav-mobile-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 300;
    position: fixed;
    width: 100%;
    background-color: #03045E;
}

.nav-mobile-logo{
    margin-left: 20vw;
}

.nav-mobile-logo img{
    height: 50px;
}



.nav-mobile-button button{
    background-color: #90E0EF;
    border: none;
    font-size: 1rem;
    height: 2rem;
    min-width: 108;
    margin-top: 10px;
    margin-right: 5px;
}

.nav-mobile-burger{
    color: white;
    margin-top: 17px;
    margin-left: 5px;
}

}




/* 1 section */
.hero-screen{
    background-image: url(img/hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1075px;
}

.hero-fact{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 21vw;
    left: 15vw;
    background-color: rgba(53, 68, 99, 0.65);
    width: 33vw;
    height: 23vw;
}

.hero-fact-h1{
    
    background-color: #354463;
    width: 12vw;
    height: 3.4vw;
    text-align: center;
    margin-top: 10px; 
}

.hero-fact-h1 h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    padding-top: 0.7vw;
}

.hero-fact p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3vw;
    text-align: center;
    color: white;
}

.hero-quote{
    line-height: 4vw;
    font-size: 3vw;
    font-family: 'Bebas Neue', cursive;
    padding-left: 75vw;
}

.hero-mobile{
    display: none;
}

/* 1 section mobile */

@media only screen and (max-width: 784px){
    .hero-screen{
        display: none;
    }

    .hero-mobile{
        display: flex;
    }


    
    .hero-img-mobile img{
        max-width: 100%;
        position: absolute;
        z-index: -100;
    }
    
    .hero-fact-mobile{
        border-radius: 5px;
        top: 55vw;
        left: 5vw;
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: #90E0EF;
        width: 90%;
        height: 30vw;
    }
    
    .hero-h1-mobile {
        display: flex;
        justify-content: center;
    }
    
    .hero-fact-mobile h1{
        color: white;
        background-color: #354463;
        text-align: center;
        border-radius: 5px;
        font-size: 5vw;
        width: 50%;
    }
    
    .hero-fact-mobile p{
        color: #354463;
        margin: 0 50px 0 50px;
        font-size: 4vw;
        text-align: center;
    }
    
    .hero-quote-mobile{
        font-size: 3vw;
        position: relative;
        top: -15vw;
        left: 12vw;
        text-transform: uppercase;
    }

}

/* 2 section */

.s2{
    height: 400px;
    background-color: #0077B6;
}