* {
  /* font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif; */
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
}

*:visited {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #023e8a;
  max-width: 1920px;
  margin: auto;
}

p {
  font-family: "Noto Sans JP", sans-serif;
}

textarea {
  resize: none;
}

/* Navbar */

.nav-screen {
  top: 0px;
  z-index: 100;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
}

.nav-wrapper {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  background-color: #03045e;
  height: 50px;
}

.nav-logo {
  padding-left: 1vw;
}

.nav-logo-img {
  margin-top: 5px;
  max-height: 40px;
}

.nav-menu {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-right: 1vw;
}

.nav-menu a {
  color: white;
  margin-right: 2vw;
}

.nav-menu a:hover {
  color: wheat;
}

.nav-menu button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #90e0ef;
  border: none;
  font-size: 1.5rem;
  padding-bottom: 20px;
  height: 2rem;
  width: 15vw;
  min-width: 164px;
}

.nav-menu button:hover {
  background-color: wheat;
  cursor: pointer;
}

#modal-donation-screen {
  display: none;
  background-color: rgba(53, 68, 99, 0.65);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  animation: 0.5s;
  animation-name: back-opacity;
}

@keyframes back-opacity {
  0% {
    background-color: rgba(53, 68, 99, 0);
  }

  100% {
    background-color: rgba(53, 68, 99, 0.65);
  }
}

#modal-front-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  background-color: brown;
  margin-top: 15vw;
  margin-left: 15vw;
  height: 400px;
  width: 70vw;
  animation: 0.5s;
  animation-name: donation-slide;
}

/* Donation modal animation */

@keyframes donation-slide {
  0% {
    transform: translateX(2000px);
  }
}

#icons-modal-screen {
  display: flex;
  flex-direction: column;
}

#close-icon-screen {
  padding-left: 60vw;
  padding-top: 3vw;
}

#close-icon-screen:active {
  color: wheat;
}

#close-icon-screen:hover {
  cursor: pointer;
}

#triangle-icon-screen {
  padding-top: 50px;
  padding-left: 28vw;
}

#modal-front-screen h1 {
  text-align: center;
  padding: 50px 10vw 0 10vw;
}

.nav-mobile {
  display: none;
}

#nav-mobile-drop {
  display: none;
}

#modal-donation {
  display: none;
}

/* nav mobile */

@media only screen and (max-width: 784px) {
  .nav-screen {
    display: none;
    transition: 3s;
  }

  #nav-mobile-drop {
    display: block;
  }

  .nav-mobile {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 300;
    transition: top 0.3s;
  }

  .nav-mobile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(3, 4, 94, 0.9);
  }

  .nav-mobile-logo {
    margin-right: 10px;
  }

  .nav-mobile-logo img {
    padding-top: 3px;
    height: 40px;
  }

  .nav-mobile-logo img:hover {
    cursor: pointer;
  }

  .nav-mobile-button button {
    background-color: #90e0ef;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    height: 2rem;
    min-width: 150px;
    margin-top: 7px;
    color: black;
  }

  .nav-mobile-button button:hover{
    cursor: pointer;
  }

  .nav-mobile-button button:active {
    background-color: wheat;
    color: black;
  }

  .nav-mobile-burger {
    position: relative;
    z-index: 400;
    color: white;
    margin-top: 7px;
    margin-left: 10px;
  }

  .nav-mobile-burger i:hover {
    cursor: pointer;
  }

  .nav-mobile-burger i:active{
    color: wheat;
  }

  #nav-mobile-drop {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0px;
    left: 0;
    background-color: rgba(3, 4, 94, 0.9);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }

  .nav-mobile-menu {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
  }

  .nav-mobile-menu a {
    padding-bottom: 3vw;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
  }

  .nav-mobile-menu a:hover {
    color: wheat;
  }

  #close-layer {
    display: none;
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 500px;
    background-color: rgba(138, 43, 226, 0);
  }

  #modal-donation {
    display: none;
    background-color: rgba(53, 68, 99, 0.65);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    animation: 0.5s;
    animation-name: back-opacity;
  }

  @keyframes back-opacity {
    0% {
      background-color: rgba(53, 68, 99, 0);
    }

    100% {
      background-color: rgba(53, 68, 99, 0.65);
    }
  }

  #modal-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bebas Neue", cursive;
    background-color: brown;
    margin-top: 30vw;
    margin-left: 15vw;
    height: 400px;
    width: 70vw;
    animation: 0.5s;
    animation-name: donation-slide;
  }

  @keyframes donation-slide {
    0% {
      transform: translateX(700px);
    }
  }

  #icons-modal {
    display: flex;
    flex-direction: column;
  }

  #close-icon {
    padding-left: 60vw;
    padding-top: 3vw;
  }

  #close-icon:active {
    color: wheat;
  }

  #close-icon:hover {
    cursor: pointer;
  }

  #triangle-icon {
    padding-top: 50px;
    padding-left: 24vw;
  }

  #modal-front h1 {
    text-align: center;
    padding: 50px 10vw 0 10vw;
  }
}

/* 1 section */
.hero-screen {
  background-image: url(img/hero.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60vw;
}

.hero-fact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 170px;
  left: 300px;
  background-color: rgba(53, 68, 99, 0.65);
  height: 150px;
  width: 500px;
}

.hero-fact-h1 {
  background-color: #354463;
  width: 180px;
  height: 50px;
  text-align: center;
  margin-top: 10px;
}

.hero-fact-h1 h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  padding-top: 7px;
}

.hero-fact p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 0 15px 0 15px;
}

.hero-quote {
  line-height: 4rem;
  font-size: 3rem;
  font-family: "Bebas Neue", cursive;
  padding: 250px 0 0 460px;
}

.hero-mobile {
  display: none;
}

/* 1 section mobile */

@media only screen and (max-width: 1340px) {
  .hero-quote {
    padding: 200px 0 0 300px;
  }

  .hero-fact {
    top: 70px;
    left: 140px;
    height: 150px;
    width: 500px;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-fact {
    top: 5vw;
    left: 6vw;
    height: 200px;
    width: 400px;
  }

  .hero-fact-h1 {
    width: 180px;
    height: 50px;
  }

  .hero-fact-h1 h1 {
    font-size: 2rem;
    padding-top: 7px;
  }

  .hero-fact p {
    font-size: 1.5rem;
    margin: 0 15px 0 15px;
  }

  .hero-quote {
    line-height: 2.7rem;
    font-size: 2rem;
    padding: 80px 0 0 200px;
  }
}

@media only screen and (max-width: 784px) {
  .hero-screen {
    display: none;
  }

  .hero-mobile {
    display: flex;
    flex-direction: column;
    background-image: url(img/hero-mobile3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 150vw;
    width: 100%;
  }

  .hero-quote-mobile {
    line-height: 7vw;
    font-size: 5vw;
    font-family: "Bebas Neue", cursive;
    padding-top: 30vw;
    padding-left: 12vw;
  }

  .hero-fact-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 65vw 0 0 16vw;
    background-color: rgba(53, 68, 99, 0.65);
    width: 70vw;
    height: 27vw;
  }

  .hero-fact-h1-mobile {
    background-color: #354463;
    width: 25vw;
    height: 10vw;
    text-align: center;
    margin-top: 10px;
  }

  .hero-fact-h1-mobile h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 4vw;
    padding-top: 1.2vw;
  }

  .hero-fact-mobile p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 4vw;
    text-align: center;
    color: white;
  }
}

/* 2 section */

.s2 {
  height: 400px;
  background-color: #0077b6;
}

/* 4. section Slideahow */

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;

  margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.fade {
  animation: fadeinout 15s linear infinite;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.33;
  }

  20% {
    opacity: 0.66;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

/* contact */

.contact {
  margin: 100px 0 0 0;
  background-color: #03045e;
}

.contact-form-img {
  display: flex;
  justify-content: space-between;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.contact-left h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 2vw 0;
}

.contact label {
  color: white;
}

.contact input {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #354463;
  border: none;
  width: 340px;
  height: 2rem;
  color: white;
  margin: 0 0 5px 0;
  border: 1px;
}

.contact textarea {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #354463;
  color: white;
  border: none;
  width: 340px;
  height: 10vw;
  resize: none;
  margin: 7px 0 0 0;
}

.contact-form-img img {
  width: 40vw;
  margin: 0 7vw 0 0;
}

.fname-wrapper label {
  margin: 0 5px 0 0;
}

.lname-wrapper label {
  margin: 0 18px 0 0;
}

.email-wrapper label {
  margin: 0 15px 0 0;
}

.comment-wrapper label {
  vertical-align: top;
  margin: 0 15px 30px 0;
  padding-bottom: 40px;
}

.submit-wrapper {
  margin: 1vw 0 0 51px;
}

.submit-wrapper button {
  border: none;
  background-color: #90e0ef;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 340px;
  height: 2rem;
}

.submit-wrapper button:hover {
  cursor: pointer;
}

.submit-wrapper button:active {
  background-color: wheat;
}

@media only screen and (max-width: 899px) {
  .contact {
    background-image: url(img/quokkabottles-q-7T5hYd1gU-unsplash.jpg);
    background-size: 100%;

    background-repeat: no-repeat;
    height: 100vw;
  }

  .contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vw 0 0 0;
  }

  .contact-img {
    display: none;
  }
}
